domain_name=example.com                                  # will serve example.com and www.example.com
stack_name=some-stack-name                               # no special characters except dash allowed
cfn_deployment_bucket=some-existing-s3-bucket-name       # stack templates are saved to this s3 bucket e.g. s3://some-existing-s3-bucket-name
